//====================================================================================================
.header {
}
.header__wrapper {
}
.header__container {
}
._container {
}
.header__body {
}
.header__main {
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.menu__arrow {
}
._icon-arrow-down {
}
.menu__sub-list {
}
.menu__sub-item {
}
.menu__sub-link {
}
.header__search {
}
.search__form {
}
.search-form__icon {
}
._icon-search {
}
.search-form__item {
}
.search-form__btn {
}
.search-form__input {
}
.header__actions {
}
.actions-header {
}
.actions-header__item {
}
.actions-header__item_favorites {
}
._icon-favorite {
}
.cart-header {
}
.cart-header__icon {
}
._icon-cart {
}
.cart-header__body {
}
.cart-header__list {
}
.cart-list {
}
.actions-header__item_user {
}
._ibg {
}
.icon-menu {
}
//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
